<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
  #kitty1 {
    height: 200px;
    position: relative;
    cursor: pointer;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  #kitty2 {
    height: 200px;
    position: relative;
    cursor: pointer;
  }
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!--https://api.cryptokitties.co/kitties/123606 /-->
</head>
<body>
  <button onclick="replaceKitty('kitty1', '#kittyImages');">Get Kitty 1</button>
  <button onclick="replaceKitty('kitty2', '#kittyImages');">Get Kitty 2</button>
  <button onclick="silence();">Silence!</button>
  <div class="w3-light-grey">
    <div id="myBar" class="w3-container w3-green" style="height:24px;width:12%"></div>
  </div>

  <button class="w3-button w3-light-grey" onclick="move()">Click Me</button>

<script>
function move() {
    var elem = document.getElementById("myBar");
    elem.style.width = '25%';
}
</script>
  <div id="kittyImages">
  <script src="<%= static_path + "/jquery/jquery-1.11.3.min.js" %>"></script>
  <script src="<%= static_path + "/bootstrap/js/bootstrap.min.js" %>"></script>
  <script src="../static/jquery/jquery-1.11.3.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/sounds.js"></script>
  <script src="js/movement.js"></script>
  <script src="js/kittyretriever.js"></script>
  <script src="js/battle.js"></script>
</body>
</html>
