<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fan Page Feedback</title>
    <link href="css/header.css" type="text/css" rel="stylesheet" />
    <link href="css/footer.css" type="text/css" rel="stylesheet" />
    <link href="css/background.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <script id="headerScript" src="js/includes/header.js">feedback</script>

    <h1>Feedback</h1>
    Do you have a suggestion on how to make this site event better?
    <a href="mailto:herecryptokitty@gmail.com?subject=Kitties">Send us an email.</a>

    <script src="js/includes/footer.js"></script>
  </body>
</html>
