<!DOCTYPE html>
<html lang="en">
<body>
  <canvas width="300" height="450"></canvas>
  <script src="../static/jquery/jquery-1.11.3.min.js"></script>
  <script src="js/test.js"></script>
  <script src="js/battle/battleIncludes.js">arena</script>

  <div id='k1' style="position:absolute; top:50px; left:0px; z-index:2">
    <canvas id="canvasKitty1" width="250" height="250" style="background-color:#FFFFFF"></canvas>
  </div>
  <div id='k2' style="position:absolute; top:50px; left:200px; z-index:11">
    <canvas id="canvasKitty2" width="250" height="250" style="background-color:#FFFFFF"></canvas>
  </div>
  <div id='c1' style="position:absolute; top:300px; left:0px; z-index:3">
    <button id="attackBtn" type="button" class="btn btn-primary" onclick="attackRound();">Attack!!</button>
    <button id="resetBtn" type="button" class="btn btn-primary" onclick="resetArena();">Reset</button>
    <button id="silenceBtn" type="button" class="btn btn-primary" onclick="silence();">Silence!!</button>
  </div>

  <div id='k3' style="position:absolute; top:35px; left:400px; z-index:31">
    <canvas id="kittyImages" width="600" height="250" style="background-color:#FFFFFF"></canvas>
  </div>
  <div id='c1' style="position:absolute; top:200px; left:400px; z-index:32">
    Kitty Id: <input type="text" name="kittyid" id="kittyid">
    <br>
    <button id="chooseKitty" type="button" class="btn btn-primary" onclick="loadKittyAndDisplay();">Here Kitty, Kitty, Kitty</button>
    <button id="useKitty1" type="button" class="btn btn-primary" onclick="useInBattle(1);">Set Catestant 1</button>
    <button id="useKitty2" type="button" class="btn btn-primary" onclick="useInBattle(2);">Set Catestant 2</button>
  </div>
  <script>
    initGame('canvasKitty1', 'canvasKitty2', 'kittyImages');
    function loadKittyAndDisplay() {
      var kittyId = document.getElementById('kittyid').value;
      loadEntryCreature(kittyId);
    }
  </script>

</body>
</html>
